html {
    overflow-x: hidden
}

body {

    background-color: #080808;
    font-family: sans-serif;
    color: aliceblue;

}
.banner_logo > a {
    position: absolute;
    z-index: 2;

width: auto;
height:fit-content;
size: 10%;
}
.banner_logo > a > img{
size: 10%;

height: 10%;
width: 30%;
padding: 5%;
margin-left: -5%;
}


h1 {
    position: relative;
    color: #fbd020;
    font-weight: bolder;
    font-size: larger;
    z-index: 1;
    font-family: SucroseBold, Arial, Helvetica, sans-serif;

}

section:first-of-type {
    position: absolute;
    left: -10%;
    right: -10%;

    box-shadow: inset -10px 80px 80px rgb(0, 0, 0);
}
@keyframes bottledance {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(2);
    }
    100% {
      transform:scale(1);
    }
  }
section:first-of-type>img {

    width: 120%;

    position: relative;
    top: -10%;
    left: -20%;
    z-index: -2;
    
}

section:nth-of-type(2) {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}
@keyframes spannend-animation {
    
    5% {
        transform:scale(1);
      }
    25% {
      transform:scale(1.1);
    }
      40% {
        transform:scale(1.1);
      
    }
      70% {
        transform:scale(1);
    }
}
section:nth-of-type(2)>img {

    width: 450px;
    margin-top: 110px;
    padding: 50px;
    animation-name:spannend-animation;
    animation-duration:3.5s;
    animation-iteration-count: infinite;
}

section:nth-of-type(2) > p:first-of-type{
    text-transform: uppercase;
    font-weight: 800;

}

section:nth-of-type(2) > p:nth-of-type(2){
    color: grey;
    text-align: center;
}
section:nth-of-type(2) > a:nth-of-type(1) {
    color: black;
    font-weight: 900;
    font-size: 1em;
    text-decoration: none;
text-align: center;
    padding: 15px 32px;
    margin: 20px;
    width: 250px;
    height: 50px;
    background-color: #fbd020;
    border: 3px solid #fbd020;
    display: inline-block;
}
section:nth-of-type(2) > a:nth-of-type(1):hover {
    transition: 0.2s;
    color:#fbd020;
    width: 250px;
    background-color: black;
    
    border: 3px solid #fbd020;
}
section:nth-of-type(2) > a:nth-of-type(2) {
    color: #fbd020;
    font-weight: 900;
    font-size: 1em;
    text-decoration: none;
text-align: center;
    padding: 15px 32px;
    margin: 20px;
    width: 250px;
    height: 50px;
    background-color: black;
    border: 3px solid #fbd020;
    display: inline-block;
}

section:nth-of-type(2) > a:nth-of-type(2):hover {
    transition: 0.2s;
    color: black;
    background-color: #fbd020;
    border: 3px solid black;
}
section:nth-of-type(3){
    margin-top: 5%;
    padding:10%;
    display: flex;
  flex-direction: column;
}
section:nth-of-type(3) > h2 {

    font-size: 2rem;
    text-align: center;

}
section:nth-of-type(3) > p:first-of-type{
    color:#8868d2;
    font-weight: bolder;
    text-align: center;
    

}
section:nth-of-type(3) > p:nth-of-type(2){
    color:grey;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 150%;

}
section:nth-of-type(3) > a {

    color: grey;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-decoration: none;
text-align: center;
padding:15px;
margin-left: 20%;
margin-right: 20%;
  margin-bottom: 50px;
    background-color: black;
    border: 2px solid grey;
}

section:nth-of-type(3) > a:hover{
border: 2px solid white;
color:white;
transition:1s;
}
section:nth-of-type(3) > img{
    width: 130%;
    height: auto;
margin-left:-15%;
}